*{
    margin: 0;
    list-style: none;
    list-style-type:none;
}


body{
    font-family: 'Aleo', serif;
    font-weight:400;
    background-color:#f6c8c9;
    width: auto;
    height: 2289px;
;

}
#navbar{
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 99.5%;
    height: 50px;
    z-index: 99;

    background: #eae5df;
    border: 3px solid #e83e2d;
}

.nav-link{
    position: relative;
    display: flex;
    list-style: none;
    list-style-type:none;
    justify-content: flex-start;
    padding:10px;
}

.nav-link a{
    text-decoration: none;
    padding: 20px;
    position: relative;

    font-family: 'Courier Prime', monospace;    
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #e83e2d;
}

#navbar img{   
    position: absolute;
    width: 80px;
    right: 1%;
    top: 4px;
}

#Home{
    width: auto;
    height: 768px;
    padding-top: 20px;
}

.pg-inicial{
    position:relative;
    width: 750px;
    margin: auto;
    margin-top: 12%;
    margin-left: 40%;
}

.pg-inicial img{
    width: 80%;
    margin-left: 20%;
}

.title{
    position:absolute;
    top: 30%;
    left: 25%;
    text-align: left;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #e83e2d;
}

.subtitle{  
    position:absolute;
    top: 70%;
    left: 25%;
    text-align: left;
    
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #e83e2d;
}

#Sobre{
    width: auto;
    height: 768px;
    padding-top: 100px;
    background-color: #eae5df;
}
.sobre1{
    width: 700px;
    margin-left: 5%;
    position:relative;
    top:15%;
}

.quem-sou{
    position: absolute;
    text-align: left;
    top:100%;
    left: 10%;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 5px;
    color: #e83e2d;
}
.sobre-mim{
    position: absolute;
    text-align:left;
    top:50%;
    left: 9.5%;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 95px;
    color: #e83e2d;
}
.quem-texto{
    position: absolute;
    text-align:left;
    top: 90px;
    left: 10%;
    right: 20%;

    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.sobre2 {
    width: 450px;
    margin-left: 60%;
    margin-right: 50%;
    margin-top: 2%;
    position:absolute;
}

.sobre2 img{
    width: 100%;
    position:relative;
}

#Formação{
    width: auto;
    height: 768px;
    padding-top: 100px;
    background: linear-gradient(0deg, rgba(234,229,223,1) 70%, rgba(246,200,201,1) 30%); 
}

.title-formacao{

    text-align:center;
    top:50%;
    padding-left: 0%;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    color: #e83e2d;
}

.subtitle-formacao{
    text-align:center;
    top:70%;
    padding-left: 0%;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 20px;
    color: #e83e2d;
}
#Formação a{
    text-decoration: none;
}

.estudo{
    width: 500px;
    margin-top: 8%;
    margin-left: 4%;
    position: relative;
    text-decoration: none;
}

.estudo h4{
    color: #e83e2d;
    line-height: 200%;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.estudo h5{
    color: #e83e2d;
    line-height: 100%;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.estudo a{
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    color: #e83e2d;
    line-height: 80%;
    background-color: #f6c8c9;
    border: 3px solid #e83e2d;
    padding: 8px;
}

.unila img{
    position: absolute;
    text-align: left;
    width: 375px;
    height: 323.5px;
    left: 69px;
    top: 50px;
}
.unila h4{
    position: absolute;
    text-align: left;
    width: 330px;
    height: 250px;
    left: 85px;
    top: 100px;
}
.data-unila{
    position: absolute;
    text-align: left;
    width: 330px;
    height: 250px;
    left: 85px;
    top: 240px;
}
.unila a{
    position: absolute;
    text-align: left;
    left: 0px;
    top: 180px;
}

.kk img{
    position: absolute;
    width: 375px;
    height: 323.5px;
    left: 532px;
    top: 50px;
}
.kk h4{
    position: absolute;
    width: 330px;
    height: 250px;
    left: 548px;
    top: 100px;
}
.data-kk{
    position: absolute;
    width: 330px;
    height: 250px;
    left: 548px;
    top: 240px;
}

.kk a{
    position: absolute;
    text-align: left;
    left: 0px;
    top: 180px;
}

.minas img{
    position: absolute;
    width: 330px;
    height: 323.5px;
    left: 995px;
    top: 50px;
}
.minas h4{
    position: absolute;
    width: 250px;
    left: 1010px;
    top: 100px;
}
.data-minas{
    position: absolute;
    width: 250px;
    left: 1010px;
    top: 240px;
}

.minas a{
    position: absolute;
    text-align: left;
    left: 0px;
    top: 180px;
}

#projetos{
    width: auto;
    height: 768px;
    padding-top: 50px;
}

.texto-pg1{
    padding-top: 15%;
}
.pg1-portfolio{
    width: auto;
    height: 768px;
    padding-top: 50px;
    padding-left: 10%;

    background-color: #eae5df;
}
.pg1-portfolio img{
    width: 450px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 0%;
    position:absolute;

}

.port-title{
    text-align: left;
    padding-left: 0%;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #e83e2d;
}
.port-subtitle{
    text-align: left;
    padding-left: 1%;
    scroll-padding-top: 50%;
    padding-bottom: 1%;

    font-family: 'Shrikhand', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 5px;
    color: #e83e2d;
}

.port-subtext{
    width: 30%;
    padding-top: 1%;
    padding-left: 0%;
    text-align:left;
    top: 90px;
    right: 20%;

    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #e83e2d;
}

#projetos a{
    text-decoration: none;
}

#contato{
    width: auto;
    height: 768px;
    padding-top: 50px;
}

#contato a{
    text-decoration: none;
}